.MuiTextField-root.ingredient-input{
  margin: 32px;
}

.shopping-list_loading{
  margin-top: 64px;
}

.shopping-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grocery-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.shopping-list-categories{
  display: flex;
  align-items: center;
  gap: 16px;

  &__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    padding: 0;
    
    &-item{
      display: flex;
      align-items: center;
      gap: 8px;
      border-bottom: 1px solid #ccc;     
    }
    &-item:hover{
      background-color: #f9f9f9;
    }

    &-icons{
     margin-left: auto;
    }
  }
  &__new{
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

