.shopping-item:hover{
  box-shadow: 0 8px 12px 1px rgba(0,0,0,.14), 0 3px 15px -3px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.shopping-item{
  width: 128px;
  height: 116px;
  margin: 8px;

  .MuiCardActions-root{
    padding-top: 0;
  }

  .MuiCardContent-root.shopping-item__content{
    height: 66%;
    padding: 0 8px 8px 8px;
    color: white;
  }

  &__actions{
    display: flex;
    width: 100%;
    align-items: center;
  }

  .MuiIconButton-root.shopping-item__desc{
    margin-left: auto;
  }

  &__heading{
    color: white;
    font-size: 40px;
    opacity: 0.4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

