.dinners {
  display: flex;
  flex-direction: column;
  .new-dinner {
    align-self: center;
    width: fit-content;
  }
}

.search-dinner {
  display: flex;
  justify-content: center;
  .search-input {
    margin: 32px 16px 32px 0;
  }
  Button {
    height: 40px;
    align-self: center;
  }
}

.dinner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
