.shopping-item:hover {
  box-shadow:
    0 8px 12px 1px rgba(0, 0, 0, 0.14),
    0 3px 15px -3px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shopping-item {
  width: 116px;
  height: 116px;
  margin: 4px;

  .MuiCardActions-root {
    padding-top: 0;
  }

  .MuiIconButton-root.shopping-item__menu {
    position: absolute;
    right: -4px;
    z-index: 10;
  }

  .MuiCardContent-root.shopping-item__content {
    position: relative;
    height: 66%;
    padding: 0 8px 8px 8px;
    color: white;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 10%;
    background-position-y: 10%;
  }

  @keyframes fadeOut {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .MuiCardContent-root.shopping-item__content.animate-card {
    /* Apply the animation to the desired element */
    animation: fadeOut 0.5s ease-in-out;
  }

  &__actions {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .MuiIconButton-root.shopping-item__desc {
    margin-left: auto;
  }

  &__heading {
    color: white;
    font-size: 40px;
    opacity: 0.4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
