.dinner-card{
  width: 260px;
  margin: 16px 8px;

  .MuiCardHeader-root {
    height: 80px;
    padding-bottom: 0;
  }

  .MuiCardContent-root {
    padding: 4px;
  }

  &__header {
    .MuiCardHeader-title {
      font-size: 1.2rem;
    }

    .MuiCardHeader-subheader {
      font-size: 0.8rem;
    }
  }
}
